@{
    ViewBag.Title = "Comprobante";
}
<h1 style="text-align:center;font-family:Candara">Comprobante</h1>
<h3>@ViewBag.Message</h3>
<style>
    .table-container {
        background-color: #e8f5e9;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    table {
        background-color: white;
        display: flex;
        margin: 10px;
        border-collapse: collapse;
        border-radius: 20px;
        border: 2px solid black;
        overflow: hidden;
        font-family: Arial, sans-serif;
        text-align: center;
    }

    th, td {
        background-color: white;
        border: 1px solid black;
        padding: 8px;
        border-radius: 20px;
    }

    .imagenes {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 60%;
        filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.7));
    }
</style>
<div class="jumbotron">
    <div class="table-container">
        <div class="imagenes">
            <img src="~/Images/pago_aprobado.png" />
        </div>
        <table>
            <tr>
                <th colspan="2">Comprobante</th>
            </tr>
            <tr>
                <td>Vci: </td>
                <td>@ViewBag.Vci</td>
            </tr>
            <tr>
                <td>Total: </td>
                <td> $@ViewBag.Amount</td>
            </tr>
            <tr>
                <td>Status: </td>
                <td> @ViewBag.Status</td>
            </tr>
            <tr>
                <td>Orden de compra: </td>
                <td> @ViewBag.BuyOrder</td>
            </tr>
            <tr>
                <td>id: </td>
                <td> @ViewBag.SessionId</td>
            </tr>
            <tr>
                <td>Detalle tarjeta: </td>
                <td>@ViewBag.CardDetail</td>
            </tr>
            <tr>
                <td>MM/DD</td>
                <td>@ViewBag.AccountingDate</td>
            </tr>
            <tr>
                <td>Fecha/Hora de transaccion: </td>
                <td>@ViewBag.TransactionDate</td>
            </tr>
            <tr>
                <td>Codigo de autorizacion: </td>
                <td> @ViewBag.AuthorizationCode</td>
            </tr>
            <tr>
                <td>Tipo de pago de la transacción: </td>
                <td>@ViewBag.PaymentTypeCode</td>
            </tr>
            <tr>
                <td>Codigo de estado transaccion: </td>
                <td>@ViewBag.ResponseCode</td>
            </tr>
            <tr>
                <td>Valor cuota: </td>
                <td>$@ViewBag.InstallmentsAmount</td>
            </tr>
            <tr>
                <td>Cantidad de cuotas: </td>
                <td>@ViewBag.InstallmentsNumber</td>
            </tr>
            <tr>
                <td>Monto restante para un detalle anulado: </td>
                <td>@ViewBag.Balance</td>
            </tr>
        </table>
        <div class="imagenes">
            <img src="~/Images/pago_aprobado.png" />
        </div>
    </div>
</div>

