@model IEnumerable<ClinicaCesfam.Models.MEDICAMENTO>

@{
    ViewBag.Title = "Index";
}

<h1 style="font-family:Candara">Medicamentos</h1>


<table class="table table-hover">
    <thead class="table-bordered table-secondary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre_medica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fabricante_medica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gramaje_medica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.exp_medica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock_medica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_medica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fabricante_medica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gramaje_medica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.exp_medica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock_medica)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <a class="btn btn-outline-dark" href="@Url.Action("PagoReserva", new { id = item.id_medica })">
                    Reservar
                </a>
            </td>
        </tr>
    }

</table>
