@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>INICIO TRANSACCION</h2>
    <p>Valor: @ViewBag.Amount</p>
    <p>Orden de compra: @ViewBag.buyOrder</p>
    <form method="post" action="@ViewBag.FormAction">
        <input type="hidden" name="token_ws" value="@ViewBag.TokenWs" />
        <button type="submit" class="btn btn-primary">Pagar</button>
    </form>
    <!--<p>@ViewBag.TokenWs</p>-->
</div>