@model IEnumerable<ClinicaCesfam.Models.PACIENTE>

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-sm-6">
        <div style="display: inline-block;">
            <h1 style="font-family:Candara">Pacientes</h1>
            <a href="@Url.Action("Create")" class="btn btn-outline-dark btn-sm" style="width: 100%">
                <i class="fas fa-plus-circle"></i><span style="margin-left:5px"> Create New </span>
            </a>
        </div>
    </div>
    <div class="col-sm-6" style="display: flex;align-items: center;justify-content: flex-end;">
        <div>
            <h2 style="font-size:xxx-large;margin: auto;color: #c6cbcf;font-family: none;"><i class="far fa-hospital fa-lg"></i> Clinica <b>CESFAM</b></h2>
        </div>
    </div>
</div>
<br />
<table class="table table-hover">
    <thead class="table-bordered table-secondary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.enfermedad_cronica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre_enfermedad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PERSONA.id_persona)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.enfermedad_cronica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_enfermedad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PERSONA.id_persona)
            </td>
            <td style="text-align:center">
                <div class="btn-group btn-group-sm" data-toggle="buttons">
                    <label class="btn btn-outline-primary">
                        <a href="@Url.Action("Edit", new { id = item.id_paciente })" class="btn btn-sm">Edit </a>
                    </label>
                    <label class="btn btn-outline-secondary">
                        <a href="@Url.Action("Details", new { id = item.id_paciente })" class="btn btn-sm">Details </a>
                    </label>
                    <label class="btn btn-outline-danger">
                        <a href="@Url.Action("Delete", new { id = item.id_paciente })" class="btn btn-sm"> Delete</a>
                    </label>
                </div>
                <!--
                @Html.ActionLink("Edit", "Edit", new { id=item.id_paciente }) |
                @Html.ActionLink("Details", "Details", new { id=item.id_paciente }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id_paciente })
                -->
            </td>
        </tr>
        }

    </table>
