@model ClinicaCesfam.Models.MEDICO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MEDICO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_med)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_med)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cargo_med)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargo_med)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA.id_persona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA.id_persona)
        </dd>

    </dl>
</div>
<div class="col-md-offset-2 col-md-10">
    <a href="@Url.Action("Edit", new { id = Model.id_med })" class="btn btn-outline-primary" style="width:10%">
        Edit
    </a>

    <a href="@Url.Action("Index")" class="btn btn-outline-secondary">
        Back to List
    </a>
</div>
@*
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_med }) |
    @Html.ActionLink("Back to List", "Index")
</p>
*@