@model IEnumerable<ClinicaCesfam.Models.MEDICO>

@{
    ViewBag.Title = "Index";
}

<div class="col-sm-6">
    <div style="display: inline-block;">
        <h1 style="font-family:Candara">Medicos</h1>
        <a href="@Url.Action("Create")" class="btn btn-outline-dark btn-sm" style="width: 100%">
            <i class="fas fa-plus-circle"></i><span style="margin-left:5px"> Create New </span>
        </a>
    </div>
</div>
<br/>
<table class="table table-hover">
    <thead class="table-bordered table-secondary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cargo_med)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PERSONA.id_persona)
            </th>
            <th></th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cargo_med)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PERSONA.id_persona)
        </td>
        <td style="text-align:center">
            <div class="btn-group btn-group-sm" data-toggle="buttons">
                <label class="btn btn-outline-primary">
                    <a href="@Url.Action("Edit", new { id = item.id_med })" class="btn btn-sm">Edit </a>
                </label>
                <label class="btn btn-outline-secondary">
                    <a href="@Url.Action("Details", new { id = item.id_med })" class="btn btn-sm">Details </a>
                </label>
                <label class="btn btn-outline-danger">
                    <a href="@Url.Action("Delete", new { id = item.id_med })" class="btn btn-sm"> Delete</a>
                </label>
            </div>
            <!--
            @Html.ActionLink("Edit", "Edit", new { id = item.id_med }) |
            @Html.ActionLink("Details", "Details", new { id = item.id_med }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id_med })
            -->
        </td>
    </tr>
}

</table>
