@model IEnumerable<ClinicaCesfam.Models.MEDICAMENTO>

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-sm-6">
        <div style="display: inline-block;">
            <h1 style="font-family:Candara">Medicamentos</h1>
            <a href="@Url.Action("Create")" class="btn btn-outline-dark btn-sm" style="width: 100%">
                <i class="fas fa-plus-circle"></i><span style="margin-left:5px"> Create New </span>
            </a>
        </div>
    </div>
    <div class="col-sm-6" style="display: flex;align-items: center;justify-content: flex-end;">
        <div>
            <h2 style="font-size:xxx-large;margin: auto;color: #c6cbcf;font-family: none;"><i class="far fa-hospital fa-lg"></i> Clinica <b>CESFAM</b></h2>
        </div>
    </div>
</div>
<br/>
<table class="table table-hover">
    <thead class="table-bordered table-secondary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre_medica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fabricante_medica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gramaje_medica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.exp_medica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock_medica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_medica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fabricante_medica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gramaje_medica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exp_medica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock_medica)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td style="text-align:center">
            <div class="btn-group btn-group-sm" data-toggle="buttons">
                <label class="btn btn-outline-primary">
                    <a href="@Url.Action("Edit", new { id = item.id_medica })" class="btn btn-sm">Edit </a>
                </label>
                <label class="btn btn-outline-secondary">
                    <a href="@Url.Action("Details", new { id = item.id_medica })" class="btn btn-sm">Details </a>
                </label>
                <label class="btn btn-outline-danger">
                    <a href="@Url.Action("Delete", new { id = item.id_medica })" class="btn btn-sm"> Delete</a>
                </label>
            </div>

            <!--
            @Html.ActionLink("Edit", "Edit", new { id = item.id_medica }) |
            @Html.ActionLink("Details", "Details", new { id = item.id_medica }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id_medica })
            -->
        </td>
    </tr>
}

</table>
