@model ClinicaCesfam.Models.RECETA_MEDICAMENTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RECETA_MEDICAMENTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_receta_medica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_receta_medica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_hoja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_hoja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MEDICAMENTO.nombre_medica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MEDICAMENTO.nombre_medica)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_receta_medica }) |
    @Html.ActionLink("Back to List", "Index")
</p>
