@model ClinicaCesfam.Models.RECETA_MEDICAMENTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RECETA_MEDICAMENTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_receta_medica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_receta_medica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_hoja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_hoja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MEDICAMENTO.nombre_medica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MEDICAMENTO.nombre_medica)
        </dd>

    </dl>
</div>
<div class="col-md-offset-2 col-md-10">
    <a href="@Url.Action("Edit", new { id = Model.id_receta_medica })" class="btn btn-outline-primary" style="width:10%">
        Edit
    </a>

    <a href="@Url.Action("Index")" class="btn btn-outline-secondary">
        Back to List
    </a>
</div>
@*
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_receta_medica }) |
    @Html.ActionLink("Back to List", "Index")
</p>
*@
