@{
    ViewBag.Title = "Comprobante";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<style>
    .table-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    table {
        display: flex;
        border-radius: 20px;
        margin: 10px;
        border-collapse: collapse;
        border-radius: 20px;
        border: 2px solid black;
        overflow:hidden;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        border-radius: 20px;
    }
</style>
<div class="jumbotron">
    <div class="table-container">
        <table>
            <tr>
                <th colspan="2">Comprobante</th>
            </tr>
            <tr>
                <td>Vci: </td>
                <td>@ViewBag.Vci</td>
            </tr>
            <tr>
                <td>Total: </td>
                <td> $@ViewBag.Amount</td>
            </tr>
            <tr>
                <td>Status: </td>
                <td> @ViewBag.Status</td>
            </tr>
            <tr>
                <td>Orden de compra: </td>
                <td> @ViewBag.BuyOrder</td>
            </tr>
            <tr>
                <td>id: </td>
                <td> @ViewBag.SessionId</td>
            </tr>
            <tr>
                <td>Detalle tarjeta: </td>
                <td>@ViewBag.CardDetail</td>
            </tr>
            <tr>
                <td>MM/DD</td>
                <td>@ViewBag.AccountingDate</td>
            </tr>
            <tr>
                <td>Fecha/Hora de transaccion: </td>
                <td>@ViewBag.TransactionDate</td>
            </tr>
            <tr>
                <td>Codigo de autorizacion: </td>
                <td> @ViewBag.AuthorizationCode</td>
            </tr>
            <tr>
                <td>Tipo de pago de la transacción: </td>
                <td>@ViewBag.PaymentTypeCode</td>
            </tr>
            <tr>
                <td>Codigo de estado transaccion: </td>
                <td>@ViewBag.ResponseCode</td>
            </tr>
            <tr>
                <td>Valor cuota: </td>
                <td> @ViewBag.InstallmentsAmount</td>
            </tr>
            <tr>
                <td>Cantidad de cuotas: </td>
                <td>@ViewBag.InstallmentsNumber</td>
            </tr>
            <tr>
                <td>Monto restante para un detalle anulado: </td>
                <td>@ViewBag.Balance</td>
            </tr>
        </table>
    </div>
</div>

