@model ClinicaCesfam.Models.PERSONA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PERSONA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_persona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_persona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numrun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numrun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dv_run)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dv_run)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pnombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pnombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.snombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.snombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.appaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apmaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apmaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

    </dl>
</div>
<div class="col-md-offset-2 col-md-10">
    <a href="@Url.Action("Edit", new { id = Model.id_persona })" class="btn btn-outline-primary" style="width:10%">
        Edit
    </a>

    <a href="@Url.Action("Index")" class="btn btn-outline-secondary">
        Back to List
    </a>
</div>
@*
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_persona }) |
    @Html.ActionLink("Back to List", "Index")
</p>
*@